@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);

body{
    background: aliceblue;
}

.main {
    margin: 350px auto;
}

.gradient-text {
    font-family: 'Rubik One', sans-serif;
    font-size: 76px;
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: -1.5px;
    max-width: 960px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(315deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 40px;
}